body {
    background-color: #333;
    color: white;
}

#menu_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #464646;
}

#menu_bar li {
    display: inline;
    width:auto;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin-left: 2px;
    padding: 4px;
}

#menu_bar a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

#menu_bar a:hover {
    background-color: #111;
}

.recipe_link {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}

/* MORE TO COME */

.recipe_link_moretocome {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
/* */

.recipe_link:hover {
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

#recipe_list {
    text-decoration: none;
    list-style-type: none;
    padding: 3px;
    margin: 20px 10px;
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;

}

.recipe_header {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 3.5em;
    text-align: center;
    text-decoration: none;
}

.recipe_header_main {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 3.5em;
    text-align: center;
    text-decoration: none;
    margin: 0;
    padding-top: 20px;
}

.recipe_caption {
    font-style: italic;
    text-align: center;

    
}

.ingredients_header {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-indent: 5px;
}

.ingredients_list {
    font-family:Arial, Helvetica, sans-serif;
    color: whitesmoke;
    font-size: 19px;
}

.instructions_header {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-indent: 5px;
}

.instructions_list {
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font-size: 19px;
}

.home_link {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.home_link:hover {
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

.contact_links {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.email_contact {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

.email_contact_link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.email_contact_link a {
    text-decoration: none;
}

.email_contact_link a:visited {
    text-decoration: none;
    color: white;
}

.email_contact_link a:hover {
    text-decoration: none;
    color: lightgray;
}

/* image center  */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:auto;
} 


.dropbtn {
    background-color: #464646;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #464646;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(105, 105, 105, 0.295);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: auto;
    text-decoration: none;
    display: block;
    font-size: 17px;
  }

  .dropdown-content a:hover {background-color: #f1f1f1}

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: black;
  }